body {
  font-family: Futura, Helvetica, 'Gill Sans', sans-serif;
  color: rgb(43, 41, 41)
}
/* ************************************************* */
/* HEADER AREA                                       */
/* ************************************************* */
header {
  display: flex;
    background-image: linear-gradient(to right, #1d20ea, #5b1ed5);
    margin-bottom: 10px;
    flex-direction: column;
    align-items: center;
}

header>div {
  display: flex;
  width: 80%;
  align-items: flex-start;
  flex-direction: column;
}

header>div:nth-child(2) {
  display: flex;
  width: 80%;
  align-items: flex-end;
  flex-direction: column;
}

h1 {
  text-transform: uppercase;
  font-size: 3em;
  color: white;
  /* text-shadow: 4px 4px 4px #011a0f; */
  /* margin-bottom: 15px; */
  margin-block-start: 0.1em;
  margin-block-end: 0.1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

nav {
  display: flex;
  font-size: 1.2em;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: stretch;
  justify-content: center;
}

nav>a {
  margin: 5px;
}

nav>a:link,
nav>a:visited,
nav>a:focus {
  color: white;
  text-decoration: none;
  border: solid 1px white;
  padding: 2px;
  border-radius: 2px;
}

nav>a:hover {
  background:white;
  color:#34356D;
  border: solid 1px white;
  border-radius: 2px;
  padding: 2px;
}



/* ************************************************* */
/* BODY AREA                                         */
/* ************************************************* */


h2 {
  border-bottom: 2px;
  margin-top: 0px;
}

a:link, a:focus, a:visited {
  color:#046f24;
}
a:hover {
  color:#315dee
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.caption {
  font-style: italic;
  color:#34356D;
  font-size: .7em;
}

.quote {
  font-size: 1.4em;
  font-style: italic;
  color: #1d20ea;
}

.quote:hover {
  transition-duration: 1s;
  color: darkorange;
}

/* ************************************************* */
/* ABOUT                                             */
/* ************************************************* */

.about>section {
  display: flex;
  width: 80%;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: space-between;
  align-items: flex-start;
}

.about>section>article {
  width: 47%;
}

.about>section>article:nth-child(1){
border-right: 2px solid #1d20ea;
padding-right: 1em;
}

/* ************************************************* */
/* HOME                                              */
/* ************************************************* */
.home>section {
  display: flex;
  width: 80%;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: space-between;
  align-items: flex-start;
}

#wowPhoto{
  display: flex;
  align-items: flex-start;
  padding-right: 1em;
  border-right: 2px solid #1d20ea;
  margin-right: 20px;
  width: 50%;
}

#wowPhoto>img {
  width: 100%;
}

.home>section>section:nth-child(2) {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 40%;
 
}

/* ************************************************* */
/* PORTFOLIO                                         */
/* ************************************************* */

.portfolio>section {
  display: flex;
  width: 80%;
  align-items: stretch;
  border-bottom: 2px dotted #1d20ea;
  margin-bottom: 2em;
  flex-direction: column-reverse;
  flex-wrap: wrap;
  justify-content: center;
}

li {
  margin-bottom: .5em;
}

#photo {
  list-style: none;
}

.tech {
  font-style: italic;
}

.screenshot {
  display: flex;
  margin-right: 30px;
  margin-bottom: 30px;
  border-bottom: none;
}

.screenshot>img {
  max-width:100%;
  border: 2px solid #1d20ea;
  border-radius: 10px;
  padding: 5px;
}

section>article:nth-child(2) {
  display: flex;
  width: 50%;
  flex-direction: column;
}

.portfolio>section:nth-child(even) {
  background-color: #edeef2;
}


/* article {
  border-bottom: thin solid #1d20ea;
} */



/* ************************************************* */
/* FORM STYLIN'                                      */
/* ************************************************* */
.form {
  display: flex;
  justify-content: center;
  border: 2px dotted #1d20ea; ;
}

form {
  display: flex;
  flex-direction: column;
}

form>div {
  display: flex;
  align-items: baseline;
}

label {
  display: flex;
  margin: 10px 0 5px 0;

}

input {
  margin-bottom: 20px;
  width: 300px;
  height: 2em;
}

form :nth-child(9) {
  margin-top: 15px;
  width: 100px;
}


/* ************************************************* */
/* FOOTER AREA                                       */
/* ************************************************* */
footer {
  display: flex;
  background-image: linear-gradient(to left, #1d20ea, #5b1ed5);
  margin-top: 10px;
  padding: 20px;
  flex-direction: row;
  align-items: center;
  /* position: absolute; */
  justify-content: center;
  width: 100%;
  bottom: 0;
}

footer>div {
  width: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer>div>a>img {
  width: 40px;
}

/* ************************************************* */
/* Small Screens                                     */
/* ************************************************* */

@media screen and (max-width: 1000px) {
  * {
    background-color: black;
    color: white;
    background: black;
    background-image: black;
    }

  footer{
    background-image: none;
    border-top: 1px white solid;
  }

  header{
    background-image: none;
  }
  
  .quote {
    color:greenyellow;
  }

  .portfolio>section:nth-child(even) {
    background-color: black;
  }

  .portfolio>section {
    border-bottom: 1px dotted white;
  }

  a:link, a:hover, a:visited, a:focus {
    color:greenyellow
  }

  section>article:nth-child(2) {
    display: flex;
    width: 100%;
    flex-direction: column;
    
  }
  
  .screenshot>img {
    max-width:100%;
    border: 1px solid white;
    border-radius: 10px;
    padding: 5px;
  }

  .home>section {
    display: flex;
    width: 80%;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-between;
    align-items: flex-start;
  }

  #wowPhoto{
    display: flex;
    align-items: flex-start;
    padding-right: 1em;
    border-right: none;
    margin-bottom: 20px;
    width: 50%;
    border-bottom: 1px solid white;
  }
  .about>section {
    display: flex;
    width: 80%;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .about>section>article {
    width: 100%;
  }
  
  .about>section>article:nth-child(1){
  border-right: none;
  padding-right: 0;
  border-bottom: 1px solid white;
  }

}

/* ************************************************* */
/* Nick - https://github.com/ngolebiewski                               */
/* ************************************************* */